from kswap.split import one2all_kspace_new

val_size_s = 2
val_size_t = 10
test_size = 10
domains = [0, 1, 2, 3, 4, 5]
n_folds = len(domains)

split = one2all_kspace_new(
    df=dataset.df,
    val_size_t=val_size_t,
    val_size_s=val_size_s,
    test_size=test_size,
    folds=domains,
    seed=42,
    mode=mode
)
